<div class="cards">
    <div class="card__prod">
        <div class="card__figure">
            <img src="../../assets/trekking_1.jpg" alt="">
        </div>
        <div class="card__text">
            <div class="card__location">
                <h3 class="location__title">Cerro La Florida</h3>
                <span class="location__country">Antioquia - Colombia</span>
                <h2 class="location__price">20$</h2>
            </div>
            <div>
                <p class="parrafoGeneral m-personalized">Este Cerro ofrece uno de los rincones mas bellos dentro de Antioquia, con una variedad de flora y fauna única</p>
            </div>
            <div class="location__details">
                <p class="location__icons"><i class="fa-solid fa-road"></i> <strong>Recorrido:</strong> 5 km</p>
                <p class="location__icons"><i class="fa-solid fa-clock"></i> <strong>Hora:</strong> 07:00</p>
                <p class="location__icons"><i class="fa-solid fa-calendar-day"></i> <strong>Dias:</strong> Lun, Sab</p>
                <div class="location__more">
                    <a href="#" class="button__more">Ver más</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="card__prod">
        <div class="card__figure">
            <img src="../../assets/trekking_2.jpg" alt="">
        </div>
        <div class="card__text">
            <div class="card__location">
                <h3 class="location__title">Cerro La Florida</h3>
                <span class="location__country">Antioquia - Colombia</span>
                <h2 class="location__price">20$</h2>
            </div>
            <div>
                <p class="parrafoGeneral m-personalized">Este Cerro ofrece uno de los rincones mas bellos dentro de Antioquia, con una variedad de flora y fauna única</p>
            </div>
            <div class="location__details">
                <p class="location__icons"><i class="fa-solid fa-road"></i> <strong>Recorrido:</strong> 5 km</p>
                <p class="location__icons"><i class="fa-solid fa-clock"></i> <strong>Hora:</strong> 07:00</p>
                <p class="location__icons"><i class="fa-solid fa-calendar-day"></i> <strong>Dias:</strong> Lun, Sab</p>
                <div class="location__more">
                    <a href="#" class="button__more">Ver más</a>
                </div>
                
            </div>
        </div>
    </div><div class="card__prod">
        <div class="card__figure">
            <img src="../../assets/trekking_3.jpg" alt="">
        </div>
        <div class="card__text">
            <div class="card__location">
                <h3 class="location__title">Cerro La Florida</h3>
                <span class="location__country">Antioquia - Colombia</span>
                <h2 class="location__price">20$</h2>
            </div>
            <div>
                <p class="parrafoGeneral m-personalized">Este Cerro ofrece uno de los rincones mas bellos dentro de Antioquia, con una variedad de flora y fauna única</p>
            </div>
            <div class="location__details">
                <p class="location__icons"><i class="fa-solid fa-road"></i> <strong>Recorrido:</strong> 5 km</p>
                <p class="location__icons"><i class="fa-solid fa-clock"></i> <strong>Hora:</strong> 07:00</p>
                <p class="location__icons"><i class="fa-solid fa-calendar-day"></i> <strong>Dias:</strong> Lun, Sab</p>
                <div class="location__more">
                    <a href="#" class="button__more">Ver más</a>
                </div>
                
            </div>
        </div>
    </div>
</div>